  p {
  margin-top: 0;
  margin-bottom: 0;
  }

  body {
    /*This style below will be inherited */
    margin: 0;
    padding-top: 80px;
    padding-left: 96px;
    padding-right: 24px;
    padding-bottom: 1000px;
    background-color: rgb(248, 248, 248);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
  }
 
 a /*This style is used to remove underlines from the links for the youtube channel names*/{
  text-decoration: none;
  color: inherit;
}